body {
    background: #2b3134;
    color: #fff;
    font-family: Roboto, "Swiss 721 W01 Thin", "Gill sans", sans-serif;
    height: 100%;
}

.card.card-cascade .view.gradient-card-header {
    padding: 1rem 1rem;
}

main {
    margin-top: 3rem;
}

main .card {
    margin-bottom: 2rem;
}

@media only screen and (max-width: 768px) {
    .read-more {
        text-align: center;
    }
}

footer.page-footer {
    background-color: #2b3134;
    margin-top: 2rem;
    /* color: black; */
}

.navbar .btn-group .dropdown-menu a:hover {
    color: #000 !important;
}

.navbar .btn-group .dropdown-menu a:active {
    color: #fff !important;
}

.whiteText {
    color: #fff;
}

.blackText {
    color: #000;
}

.loaderText {
    font-size: 0.5rem;
}

#finishedImg {
    font-size: 4em;
    color: green;
    text-align: center;
    padding: 20px 0 0 0;
}

#results {
    font-size: 1.5em;
    font-family: "Swiss 721 W01 Thin";
    color: #c8c2c2;
    margin-bottom: 0;
    padding: 0 20px 20px 20px;
}

#resultsDone {
    font-size: 1.5em;
    font-family: "Swiss 721 W01 Thin";
    color: #c8c2c2;
    margin-bottom: 0;
    padding: 0 20px 20px 20px;
}

#errResults {
    font-size: 1.3em;
    font-family: "Swiss 721 W01 Thin";
    color: #dd8989;
    margin-bottom: 0;
    padding: 10px 0;
}

#resultsTitle {
    padding-top: 10px;
    display: inline-block;
    font-family: "Swiss 721 W01 Thin";
    margin: 0;
}

#resultList {
    margin: 0 auto;
    min-width: 350px;
    max-width: 500px;
    /* 	font-size: 1.5em; */
}

#resultList:empty {
    border: 0px solid gray;
}

.listDiv {
    width: 100%;
    text-align: center;
}

.listDiv:empty {
    display: none;
}

ul#resultUl {
    text-align: left;
    font-family: "Swiss 721 W01 Thin";
    color: #c8c2c2;
    list-style: none;
    /* border: 2px solid gray; */
    /* border-radius: 25px; */
    padding: 10px 20px;
    margin: 0;
    display: inline-block;
}

ul:empty#resultUl {
    display: none;
}

ul#ideResultUl {
    text-align: left;
    font-family: "Swiss 721 W01 Thin";
    color: #c8c2c2;
    list-style: none;
    /* border: 2px solid gray; */
    /* border-radius: 25px; */
    padding: 10px 20px;
    margin: 0;
    display: inline-block;
}

ul:empty#ideResultUl {
    display: none;
}

ul#repoResultUl {
    text-align: left;
    font-family: "Swiss 721 W01 Thin";
    color: #c8c2c2;
    list-style: none;
    /* border: 2px solid gray; */
    /* border-radius: 25px; */
    padding: 10px 20px;
    margin: 0;
    display: inline-block;
}

ul:empty#repoResultUl {
    display: none;
}

ul#devResultUl {
    text-align: left;
    font-family: "Swiss 721 W01 Thin";
    color: #c8c2c2;
    list-style: none;
    /* border: 2px solid gray; */
    /* border-radius: 25px; */
    padding: 10px 20px;
    margin: 0;
    display: inline-block;
}

ul:empty#devResultUl {
    display: none;
}

ul#appResultUl {
    text-align: left;
    font-family: "Swiss 721 W01 Thin";
    color: #c8c2c2;
    list-style: none;
    /* border: 2px solid gray; */
    /* border-radius: 25px; */
    padding: 10px 20px;
    margin: 0;
    display: inline-block;
}

ul:empty#appResultUl {
    display: none;
}

.centered {
    margin: 0 auto;
}

.red {
    color: red;
}

.green {
    color: green;
}

.chkMark {
    color: #008000;
}

.hidden {
    display: none;
}

.navbar {
    background-color: #2b3134;
}

body.modal-open #mainDiv {
    -webkit-filter: blur(7px);
    -moz-filter: blur(15px);
    -o-filter: blur(15px);
    -ms-filter: blur(15px);
    filter: blur(15px);
}

.darkModalBg {
    background-color: #2b3134;
}

.modal-backdrop {
    /* background: #f7f7f7; */
    background: #2b3134;
}